<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>POST</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let program of data.data">
            <td>{{program.title}}</td>
            <td>
            <button type="button" (click)="ViewComments()">Comments</button>
          <!-- <a class="nav-item nav-link" routerLink="/post" routerLinkActive="active">Post</a>-->
       <!--   <td><a [routerLink]="['/userDetails',program.id]">UserDetails </a> </td>-->
            
          </td>
        </tr>
    </tbody>
</table>

